<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.baseutil">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- shareSDk 必须的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- shareSDk 推荐的权限 -->
    <!-- 添加如下权限，以便使用更多的第三方SDK和更精准的统计数据 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.test.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.test.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.test.activity.BaseTest.TestActivity" />
        <activity
            android:name="com.test.activity.BaseTest.GuildActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.activity.BaseTest.RefreshActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.activity.FangWrite.FlexboxActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.test.activity.MaterialDesign.QuickContactBadgeActivity" />
        <activity android:name="com.test.activity.MaterialDesign.BottomSheetDialogActivity" />
        <activity android:name="com.test.activity.MaterialDesign.CollaspingLayoutActivity" />
        <activity android:name="com.test.activity.MaterialDesign.DesignActivity" />
        <activity android:name="com.test.activity.MaterialDesign.CommonNotificationActivity" />
        <activity android:name="com.test.activity.MaterialDesign.FoldNotificationActivity" />
        <activity android:name="com.test.activity.MaterialDesign.HangNotificationActivity"></activity>



        <!-- shareSDK -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!-- QQ和QQ空间分享 QQ登录的回调必须要配置的 -->
            <intent-filter>
                <data android:scheme="tencent1105636158" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 微信分享回调 -->
        <activity
            android:name="com.test.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data android:value="a2772131ce4c734c2d80e9bb0f240f9e" android:name="UMENG_APPKEY"/>
        <meta-data android:value="2470c205daae0" android:name="UMENG_CHANNEL"/>
    </application>

</manifest>